<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VAHING</title>
    <meta name="revisit-after" content="5 days">
    <meta name="Robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.gif" type="image/gif">
    <link rel="stylesheet" href="/global.css?20170812">
</head>
<body>
{% for directory in directories %}
    D: <a href="{{ directory }}">{{ directory }}</a><br>
{% endfor %}

{% for image in images %}
<img src="{{ image }}" width="10%">
{% endfor %}
{% if images is defined and images|length > 0 %}<br>{% endif %}

{% for file in files %}
F: <a href="{{ file }}">{{ file }}</a><br>
{% endfor %}
</body>
</html>